*{
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background: #dfe4e4;
}

.container{
  width:80%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
}

.row{
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
}

.col-12{
  width:100%;
}

.card{
  margin: 1rem;
  border-radius: 5px;
  
}

#title{
  margin: 0 auto;
  margin-top: 1rem;
}

#my_ul{
  width:100%;
  padding: 0;
}
#my_toDo{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.toDo_name{
}

.toDo_buttons{
  display: flex;
  gap: 3px;

  button{
    padding:0.5rem;
  }
}

.complete{
  text-decoration: line-through;
  /* color:red;
  font-size:2rem; */
}